{% extends 'base.html.twig' %}

{% block title %}Accueil - Sortir{% endblock %}

{% block body %}
<div class="relative flex flex-col">

    {# [DEBUT] MENU DES FILTRES #}
    <div id="sidebar" class="w-64 bg-white fixed top-0 left-0 h-full transition-transform transform lg:translate-x-0 -translate-x-full lg:block shadow-xl overflow-y-hidden">
        <div class="flex flex-col mt-10 px-6">
            <h1 class="text-2xl font-semibold mb-6">Filtrer les sorties</h1>
            <form method="get" action="{{ path('home') }}">
                <div class="grid grid-cols-1 gap-6">
                    <!-- Filtre campus -->
                    <div class="flex flex-col">
                        <label for="campus" class="font-semibold">Campus</label>
                        <select id="campus" name="campus" class="border border-gray-300 p-2 rounded-lg focus:ring focus:ring-gray-200 shadow-sm">
                            <option value="">Tous</option>
                            {% for campus in campuses %}
                                <option value="{{ campus.id }}" {{ campus.id == app.request.get('campus') ? 'selected' : '' }}>
                                    {{ campus.nom }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Barre de recherche -->
                    <div class="flex flex-col">
                        <label for="search" class="font-semibold">Le nom de la sortie contient</label>
                        <input type="text" id="search" name="search" class="border border-gray-300 text-gray-800 p-2 rounded-lg focus:ring focus:ring-gray-200 shadow-sm" value="{{ app.request.get('search') }}">
                    </div>

                    <!-- Filtre date -->
                    <div class="flex flex-col">
                        <label class="font-semibold">Entre</label>
                        <div class="flex flex-col space-y-2">
                            <input type="date" name="start_date" class="border border-gray-300 p-2 rounded-lg focus:ring focus:ring-gray-200 shadow-sm" value="{{ app.request.get('start_date') }}">
                            <label class="font-semibold">Et</label>
                            <input type="date" name="end_date" class="border border-gray-300 p-2 rounded-lg focus:ring focus:ring-gray-200 shadow-sm" value="{{ app.request.get('end_date') }}">
                        </div>
                    </div>

                    <!-- Autres filtres -->
                    <div class="flex flex-col space-y-2 mt-6">
                        <div class="flex items-center space-x-2">
                            <input type="checkbox" id="organisateur" name="organisateur" {{ app.request.get('organisateur') ? 'checked' : '' }} class="shadow-sm">
                            <label for="organisateur">Sorties dont je suis l'organisateur/trice</label>
                        </div>
                        <div class="flex items-center space-x-2">
                            <input type="checkbox" id="inscrit" name="inscrit" {{ app.request.get('inscrit') ? 'checked' : '' }} class="shadow-sm">
                            <label for="inscrit">Sorties auxquelles je suis inscrit/e</label>
                        </div>
                        <div class="flex items-center space-x-2">
                            <input type="checkbox" id="non-inscrit" name="non-inscrit" {{ app.request.get('non-inscrit') ? 'checked' : '' }} class="shadow-sm">
                            <label for="non-inscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
                        </div>
                        <div class="flex items-center space-x-2">
                            <input type="checkbox" id="terminees" name="terminees" {{ app.request.get('Terminée') ? 'checked' : '' }} class="shadow-sm">
                            <label for="terminees">Sorties terminées / Annulée</label>
                        </div>
                        <div class="flex flex-col">
                            <label for="sort" class="font-semibold">Trier par</label>
                            <select id="sort" name="sort" class="border border-gray-300 p-2 rounded-lg focus:ring focus:ring-gray-200 shadow-sm">
                            
                                <option value="">Par défaut</option>
                                <option value="dateAsc" {{ app.request.get('sort') == 'dateAsc' ? 'selected' : '' }}>Date de sortie : du plus ancien au plus récent</option>
                                <option value="dateDesc" {{ app.request.get('sort') == 'dateDesc' ? 'selected' : '' }}>Date de sortie : du plus récent au plus ancien</option>
                                <option value="clotureAsc" {{ app.request.get('sort') == 'clotureAsc' ? 'selected' : '' }}>Date de clôture des inscriptions : du plus ancien au plus récent</option>
                                <option value="clotureDesc" {{ app.request.get('sort') == 'clotureDesc' ? 'selected' : '' }}>Date de clôture des inscriptions : du plus récent au plus ancien</option>
                            </select>
                        </div>                      
                            
                    </div>
                    <!-- Bouton de recherche -->
                    <button type="submit" class="mt-6 bg-gray-800 text-white font-semibold px-6 py-2 rounded-lg shadow-lg hover:shadow-xl focus:outline-none focus:ring focus:ring-gray-300 transition duration-300 ease-in-out transform hover:scale-105">
                        Rechercher
                    </button>
                </div>
            </form>
        </div>
    </div>
    {# [FIN] MENU DES FILTRES #}

    {# [DEBUT] LISTE DES SORTIE #}
    <div class="flex-1 ml-[5rem] mr-[-7rem] p-4 overflow-y-auto flex-grow">
        <div class="w-full max-w-8xl mx-auto bg-white rounded-lg shadow-lg p-5">
            <!-- Table des sorties -->
            <div class="overflow-x-auto h-[39rem] overflow-y-auto">
                <table class="w-full table-auto">
                    <thead class="bg-[#2C2C2C] text-white shadow-lg sticky top-0 z-10">
                        <tr class="text-left">
                            <th class="p-4 rounded-tl-lg">Nom de la sortie</th>
                            <th class="p-4">Date de la sortie</th>
                            <th class="p-4">Clôture</th>
                            <th class="p-4">Inscrits/Places</th>
                            <th class="p-4">Etat</th>
                            <th class="p-4">Inscrit</th>
                            <th class="p-4">Organisateur</th>
                            <th class="p-4 rounded-tr-lg text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sortie in sorties %} {# Parcours de chaque sortie #}
                            <tr class="border-b hover:bg-[#F3F4F6]">
                                <td class="p-2 whitespace-normal break-words">{{ sortie.nom }}</td>
                                <td class="p-2">{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
                                <td class="p-2">{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y H:i') : '' }}</td>
                                <td class="p-2">{{ sortie.estinscrit|length }}/{{ sortie.nbInscriptionMax }}</td>
                                <td class="p-2">{{ sortie.etat ? sortie.etat.libelle : '' }}</td>
                                <td class="p-2">{{ sortie.estinscrit.contains(app.user) ? 'X' : '' }}</td>
                                <td class="p-2 text-gray-600 hover:underline p-2 whitespace-normal break-word">
                                    <a href="{{ path('app_participant_detail', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom ~ ' ' ~ sortie.organisateur.nom|slice(0, 1) ~ '.' }}</a>
                                </td>
                                <td class="p-2 whitespace-normal break-words text-center">
                           
                           {# GESTION DES BOUTONS #}
                            {% if sortie.etat.libelle == 'Annulée' %}
                                {# ETAT = "Annulée" => La seul action possible est l'affichage #}
                                <div class="flex space-x-2">
                                    <a href="{{ path('sortie_afficher', {'id': sortie.id}) }}" class="bg-transparent text-[#2C2C2C] border border-[#2C2C2C] px-4 py-2 rounded transition duration-300 ease-in-out transform hover:scale-105 w-28 text-center">
                                        Afficher
                                    </a>
                                </div>
                            {% else %}
                                {# ETAT =! "Annulée" #}
                                {% if sortie.organisateur == app.user %}
                                    {# VISION ORGANISATEUR DE LA SORTIE #}
                                    <div class="flex space-x-2">
                                        {% if sortie.etat.libelle == 'Clôturée' or sortie.etat.libelle == 'En cours' or sortie.etat.libelle == 'Terminée' or sortie.etat.libelle == 'Historisée' %}
                                            <a href="{{ path('sortie_afficher', {'id': sortie.id}) }}" class="bg-transparent text-[#2C2C2C] border border-[#2C2C2C] px-4 py-2 rounded transition duration-300 ease-in-out transform hover:scale-105 w-28 text-center">
                                                Afficher
                                            </a>
                                        {% elseif sortie.etat.libelle == 'En création' %}
                                            <a href="{{ path('sortie_modifier', {'id': sortie.id}) }}" class="bg-transparent text-yellow-500 border border-yellow-500 px-4 py-2 rounded transition duration-300 ease-in-out transform hover:scale-105 w-28 text-center">
                                                Modifier
                                            </a>
                                            <a href="{{ path('sortie_publier', {'id': sortie.id}) }}" class="bg-transparent text-green-500 border border-green-500 px-4 py-2 rounded  transition duration-300 ease-in-out transform hover:scale-105 w-28 text-center">
                                                Publier
                                            </a>
                                            <a href="{{ path('sortie_supprimer', {'id': sortie.id}) }}" class="bg-transparent text-red-500 border border-red-500 px-4 py-2 rounded  transition duration-300 ease-in-out transform hover:scale-105 w-28 text-center"
                                                onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette sortie ?');">
                                                Supprimer
                                            </a>                          
                                        {% elseif sortie.etat.libelle == 'Ouverte' %}
                                            <a href="{{ path('sortie_afficher', {'id': sortie.id}) }}" class="bg-transparent text-[#2C2C2C] border border-[#2C2C2C] px-4 py-2 rounded transition duration-300 ease-in-out transform hover:scale-105 w-28 text-center">
                                                Afficher
                                            </a>
                                            <a href="{{ path('sortie_modifier', {'id': sortie.id}) }}" class="bg-transparent text-yellow-500 border border-yellow-500 px-4 py-2 rounded transition duration-300 ease-in-out transform hover:scale-105 w-28 text-center">
                                                Modifier
                                            </a>
                                            <a href="javascript:void(0);" class="bg-transparent text-red-500 border border-red-500 px-4 py-2 rounded transition duration-300 ease-in-out transform hover:scale-105 w-28 text-center"
                                            onclick="openCancelModal('{{ sortie.id }}', '{{ sortie.nom }}', '{{ path('sortie_afficher', {'id': sortie.id}) }}', '{{ path('sortie_annuler', {'id': sortie.id}) }}');">
                                                Annuler
                                            </a>
                                        {% endif %}
                                    </div>
                                {# {% if sortie.organisateur == app.user %} #}
                                    

                                {% else %}
                                    {# VISION !ORGANISATEUR #}
                                    <div class="flex space-x-2">
                                        {# TOUS SAUF ANNULEE ET EN CREATION #}
                                        {% if sortie.etat.libelle == 'En cours' or sortie.etat.libelle == 'Terminée' or sortie.etat.libelle == 'Historisée' or sortie.etat.libelle == 'Clôturée' %}
                                            <a href="{{ path('sortie_afficher', {'id': sortie.id}) }}" class="bg-transparent text-[#2C2C2C] border border-[#2C2C2C] px-4 py-2 rounded transition duration-300 ease-in-out transform hover:scale-105 w-28 text-center">
                                                Afficher
                                            </a>
                                        {% else %}
                                            {% if sortie.estinscrit.contains(app.user) %}
                                            
                                                <a href="{{ path('sortie_afficher', {'id': sortie.id}) }}" class="bg-transparent text-[#2C2C2C] border border-[#2C2C2C] px-4 py-2 rounded transition duration-300 ease-in-out transform hover:scale-105 w-28 text-center">
                                                Afficher
                                            </a>
                                                <a href="{{ path('sortie_desister', {'id': sortie.id}) }}" class="bg-transparent text-red-500 border border-red-500 px-4 py-2 rounded transition duration-300 ease-in-out transform hover:scale-105 w-28 text-center">
                                                    Se désister
                                                </a>
                                            {% elseif sortie.etat.libelle == 'Ouverte' and sortie.estinscrit|length < sortie.nbInscriptionMax %}
                                            <a href="{{ path('sortie_afficher', {'id': sortie.id}) }}" class="bg-transparent text-[#2C2C2C] border border-[#2C2C2C] px-4 py-2 rounded transition duration-300 ease-in-out transform hover:scale-105 w-28 text-center">
                                                Afficher
                                            </a>
                                                <a href="{{ path('sortie_inscrire', {'id': sortie.id}) }}" class="bg-transparent text-green-500 border border-green-500 px-4 py-2 rounded transition duration-300 ease-in-out transform hover:scale-105 w-28 text-center">
                                                    S'inscrire
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8" class="text-center p-4">Aucune sortie disponible</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
    {# [FIN] LISTE DES SORTIE #}
</div>


<div class="relative">
                <div class="sticky bottom-0 mt-6 flex">
                    <a href="{{ path('sortie_create') }}" class="mt-6 bg-gray-800 text-white font-semibold px-6 py-2 rounded-lg shadow-lg hover:shadow-xl focus:outline-none focus:ring focus:ring-gray-300 transition duration-300 ease-in-out transform hover:scale-105">
                        Créer une sortie
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
 
<!-- Modal for Annulation -->
<div id="cancelModal" class="fixed z-10 inset-0 overflow-y-auto hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-center justify-center min-h-screen">
    <div class="bg-white rounded-lg shadow-xl p-6 w-full max-w-lg">
      <h3 class="text-lg font-medium text-gray-900" id="modal-title">Annuler la sortie</h3>
      <form id="cancelForm" method="post" action="">
        <div class="mt-4">
          <p class="text-sm text-gray-500" id="recap"></p>
          <label for="motif" class="block text-sm font-medium text-gray-700 mt-4">Motif de l'annulation</label>
          <textarea id="motif" name="motif" rows="3" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md" placeholder="Motif de l'annulation"></textarea>
        </div>
        <div class="mt-6 flex justify-end">
          <button type="button" class="bg-transparent text-[#2C2C2C] border border-[#2C2C2C] px-4 py-2 rounded  transition duration-300 ease-in-out transform hover:scale-105 mr-2" onclick="closeModal()">Annuler</button>
          <button type="submit" class="bg-transparent text-red-500 border border-red-500 px-4 py-2 rounded  transition duration-300 ease-in-out transform hover:scale-105">Confirmer l'annulation</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
    function openCancelModal(id, name, recapUrl, submitUrl) {
        document.getElementById('recap').innerHTML = "Êtes-vous sûr de vouloir annuler la sortie : " + name + " ?";
        document.getElementById('cancelForm').action = submitUrl;
        document.getElementById('cancelModal').classList.remove('hidden');
    }
 
    function closeModal() {
        document.getElementById('cancelModal').classList.add('hidden');
    }
</script>
 
{% endblock %}