{% extends 'base.html.twig' %}

{% block title %}Hello CsvImportController!{% endblock %}

{% block body %}

    <h1>Importer des participants</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Importer</button>
    {{ form_end(form) }}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

{% endblock %}
